@import "mixins";
@import "variables";

.container{ 
  position: relative; 
  width: 960px; 
  margin: 0 auto; 
  padding: 0; 

  &:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
  }

  @include media($media-xl){
    width: 1200px;
  }

  @include media($media-md){
    width: 768px;
  }
  
  @include media($media-sm){
    width: 420px;
  }
  
  @include media($media-xs){
    width: 320px;
  }

  .row, .clearfix{
    margin-bottom: 20px;
    &:before, &:after{
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;  
      zoom: 1;    
    }
  }
  
  .clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;    
  }

  .column, .columns{
    float: left; 
    display: inline; 
    margin-left: 10px; 
    margin-right: 10px;
    
    &.alpha{
      margin-left: 0;      
    }
    
    &.omega{
      margin-right: 0; 
    }

    &.one{
      width: 40px;
      
      @include media($media-xl){
        width: 55px;
      }
      @include media($media-md){
        width: 28px;
      }
      @include media($media-sm){
        width: 420px;
      }
      
    }
    
    &.two{
      width: 100px;
      
      @include media($media-xl){
        width: 130px;
      }
      @include media($media-md){
        width: 76px;
      }
      @include media($media-sm){
        width: 420px;
      }      
      
    }
    
    &.three{
      width: 160px;
      
      @include media($media-xl){
        width: 205px;
      }
      @include media($media-md){
        width: 124px;
      }
      @include media($media-sm){
        width: 420px;
      }      
      
    }
    
    &.four{
      width: 220px;

      @include media($media-xl){
        width: 280px;
      }
      @include media($media-md){
        width: 172px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.five{
      width: 280px;

      @include media($media-xl){
        width: 355px;
      }
      @include media($media-md){
        width: 220px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.six{
      width: 340px;

      @include media($media-xl){
        width: 430px;
      }
      @include media($media-md){
        width: 268px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.seven{
      width: 400px;

      @include media($media-xl){
        width: 505px;
      }
      @include media($media-md){
        width: 316px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.eight{
      width: 460px;
      
      @include media($media-xl){
        width: 580px;
      }
      @include media($media-md){
        width: 364px;
      }
      @include media($media-sm){
        width: 420px;
      }       
      
    }
    
    &.nine{
      width: 520px;

      @include media($media-xl){
        width: 655px;
      }
      @include media($media-md){
        width: 412px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.ten{
      width: 580px;
      
      @include media($media-xl){
        width: 730px;
      }
      @include media($media-md){
        width: 460px;
      }
      @include media($media-sm){
        width: 420px;
      }       
      
    }
    
    &.eleven{
      width: 640px;

      @include media($media-xl){
        width: 805px;
      }
      @include media($media-md){
        width: 508px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.twelve{
      width: 700px;

      @include media($media-xl){
        width: 880px;
      }
      @include media($media-md){
        width: 556px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.thirteen{
      width: 760px;

      @include media($media-xl){
        width: 955px;
      }
      @include media($media-md){
        width: 604px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.fourteen{
      width: 820px;

      @include media($media-xl){
        width: 1030px;
      }
      @include media($media-md){
        width: 652px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.fifteen{
      width: 880px;

      @include media($media-xl){
        width: 1105px;
      }
      @include media($media-md){
        width: 700px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.sixteen{
      width: 940px;

      @include media($media-xl){
        width: 1180px;
      }
      @include media($media-md){
        width: 748px;
      }
      @include media($media-sm){
        width: 420px;
      } 

    }
    
    &.offset-by-one{ 
      margin-left: 60px;  

      @include media($media-xl){
        margin-left: 75px;
      }
      @include media($media-md){
        margin-left: 48px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }     
    
    }
    
    &.offset-by-two{ 
      margin-left: 120px; 

      @include media($media-xl){
        margin-left: 150px;
      }
      @include media($media-md){
        margin-left: 76px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }     
    
    }
    
    &.offset-by-three{ 
      margin-left: 180px; 

      @include media($media-xl){
        margin-left: 225px;
      }
      @include media($media-md){
        margin-left: 124px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }     
    
    }
    
    &.offset-by-four{ 
      margin-left: 240px; 

      @include media($media-xl){
        margin-left: 300px;
      }
      @include media($media-md){
        margin-left: 192px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }     
    
    }
    
    &.offset-by-five{ 
      margin-left: 300px; 

      @include media($media-xl){
        margin-left: 375px;
      }
      @include media($media-md){
        margin-left: 240px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }     
    
    }
    
    &.offset-by-six{ 
      margin-left: 360px; 

      @include media($media-xl){
        margin-left: 450px;
      }
      @include media($media-md){
        margin-left: 288px;
      }
      @include media($media-sm){
        margin-left: 0px;
      } 
      
    }
    
    &.offset-by-seven{ 
      margin-left: 420px; 

      @include media($media-xl){
        margin-left: 525px;
      }
      @include media($media-md){
        margin-left: 336px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }
    
    }
    
    &.offset-by-eight{ 
      margin-left: 480px; 

      @include media($media-xl){
        margin-left: 600px;
      }
      @include media($media-md){
        margin-left: 384px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }
          
    }
    
    &.offset-by-nine{ 
      margin-left: 540px; 
      
      @include media($media-xl){
        margin-left: 675px;
      }
      @include media($media-md){
        margin-left: 432px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }    

    }
    
    &.offset-by-ten{ 
      margin-left: 600px; 

      @include media($media-xl){
        margin-left: 750px;
      }
      @include media($media-md){
        margin-left: 480px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }     

    }
    
    &.offset-by-eleven{ 
      margin-left: 660px; 

      @include media($media-xl){
        margin-left: 825px;
      }
      @include media($media-md){
        margin-left: 528px;
      }
      @include media($media-sm){
        margin-left: 0px;
      } 
    
    }
    
    &.offset-by-twelve{ 
      margin-left: 720px; 

      @include media($media-xl){
        margin-left: 900px;
      }
      @include media($media-md){
        margin-left: 576px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }
    
    }
    
    &.offset-by-thirteen{ 
      margin-left: 780px; 

      @include media($media-xl){
        margin-left: 975px;
      }
      @include media($media-md){
        margin-left: 624px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }
    
    }
    
    &.offset-by-fourteen{ 
      margin-left: 840px; 

      @include media($media-xl){
        margin-left: 1050px;
      }
      @include media($media-md){
        margin-left: 672px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }    

    }
    
    &.offset-by-fifteen{ 
      margin-left: 900px; 

      @include media($media-xl){
        margin-left: 1125px;
      }
      @include media($media-md){
        margin-left: 720px;
      }
      @include media($media-sm){
        margin-left: 0px;
      }
    
    }     
      
  }
  
}